:root {
  --surface-primary: #111113;
  --surface-secondary: #161618;
  --border-primary: #222225;
  --border-secondary: #333336;
  --text-primary: #ededed;
  --link-primary: #6f6cff;
  --accent-primary: #7da9ff;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
}
