:root {
  --surface-primary: #111113;
  --surface-secondary: #161618;
  --border-primary: #222225;
  --text-primary: #ededed;
  --link-primary: #6f6cff;
  --accent-primary: #7da9ff;

  --text-size-md: 16px;
  --text-size-lg: 18px;

  --elevation-sm: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
}
