:root {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "ROND" 0;
  font-size: var(--text-size-md);
}

html {
  letter-spacing: 0.02em;
}

:is(h1, h2, h3) {
  font-weight: 600;
  margin-bottom: 0.5em;
  line-height: 1;
  text-wrap: balance;
}

h2 {
  font-size: 2.44em;
}

h3 {
  font-size: 1.95em;
}

:is(p, li) {
  line-height: 1.5;
}

.body-lg {
  font-size: var(--text-size-lg);
}

.title-xxl {
  font-size: 3.05em;
  font-weight: 700;
  margin-bottom: 0;
}
