:root {
  font-family: "Google Sans Flex", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-size-md);
}

:is(h1, h2, h3) {
  font-weight: 500;
  margin-bottom: 0.5em;
  line-height: 1;
  text-wrap: balance;
}

h1 {
  font-size: 3.05em;
  font-weight: 700;
  margin-bottom: 0;
}

h2 {
  font-size: 2.44em;
}

h3 {
  font-size: 1.95em;
}

:is(p, li) {
  line-height: 1.5;
}

.body-lg {
  font-size: var(--text-size-lg);
}
