@layer type {
  :root {
    --font-family: "Manrope", sans-serif;
    --font-optical-sizing: auto;
    --font-weight: 400;
    --font-style: normal;
    --font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "ROND" 0;
    --font-size: 16px;

    --line-height: 1.5;
  }

  html {
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-variation-settings: var(--font-variation-settings);

    > * {
      text-box: trim-both cap;
    }
  }

  :is(p, li) {
    line-height: var(--line-height);

    &:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  :is(h2, h3, h4, h5, h6) {
    margin-bottom: 0.5em;
  }
}
