.stack {
  display: flex;
  flex-direction: column;
}

.stack-row {
  display: flex;
  flex-direction: row;

  @media (orientation: portrait) {
    flex-direction: column;
  }
}

.gap-lg {
  gap: var(--spacing-lg);
}

.gap-sm {
  gap: var(--spacing-sm);
}

.gap-md {
  gap: var(--spacing-md);
}

.gap-xl {
  gap: var(--spacing-xl);
}

.gap-xxl {
  gap: var(--spacing-xxl);
}

.balanced > * {
  flex: 1;
}

.inline-lg {
  max-inline-size: 80ch;
}
