@layer layout {
  html,
  body {
    overscroll-behavior: none;
  }

  .columns {
    --col: 1;
    columns: var(--col);

    &.x3 {
      --col: 3;
    }

    p {
      break-inside: avoid-column;
    }

    @media (aspect-ratio < 14 / 9) {
      &:is(.x3) {
        --col: 1;
      }
    }
  }

  .stack {
    display: flex;
    flex-direction: column;
  }

  @scope (.stack) {
    &.gap-xs {
      gap: var(--spacing-xs);
    }
    &.gap-md {
      gap: var(--spacing-md);
    }
    &.gap-lg {
      gap: var(--spacing-lg);
    }
  }
}
